/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/subset-Karla-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Karla";
  src: url("assets/fonts/subset-Karla-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --clr-neutral-900: hsl(187, 24%, 22%);
  --clr-neutral-500: hsl(186, 15%, 59%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --clr-primary-green-600: hsl(169, 82%, 27%);
  --clr-primary-green-200: hsl(148, 38%, 91%);

  --clr-error: hsl(0, 66%, 54%);

  --ff-primary: "Karla", sans-serif;
}

body {
  padding: 2rem 1rem;
  background-color: var(--clr-primary-green-200);
  font-family: var(--ff-primary);
  display: grid;
  justify-items: center;
}

main {
  width: 100%;
  max-width: 46rem;
  background-color: var(--clr-neutral-white);
  padding: 1.5rem;
  border-radius: 16px;
}

.form {
  display: grid;
  gap: 1.5rem;
}

.form__title {
  font-size: 2rem;
  color: var(--clr-neutral-900);
}

.form__input {
  padding: 0.75rem 1.5rem;
  border-color: var(--clr-neutral-500);
  border-radius: 8px;
  border-width: 1px;
}

.form__input--text-area {
  resize: vertical;
  min-height: 6.5625rem;
}

.form__label {
  font-size: 1rem;
  color: var(--clr-neutral-900);
}

.form__container {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  align-content: start;
}

.form__name {
  display: grid;
  gap: 1.5rem;
}

.form__fieldset {
  border: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.form__label--fieldset {
  float: left;
}

.fieldset__item {
  border-color: var(--clr-neutral-500);
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--clr-neutral-900);
  font-size: 1rem;
  transition: 150ms;
  cursor: pointer;
}

.fieldset__item:has(:checked) {
  background-color: var(--clr-primary-green-200);
  border-color: var(--clr-primary-green-600);
}

.fieldset__item > input {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--clr-neutral-500);
  border-radius: 9999px;
  transition: 150ms;
}

.fieldset__item > input::after {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 9999px;
  background-color: transparent;
  transition: 150ms;
}

.fieldset__item > input:is(:checked) {
  border-color: var(--clr-primary-green-600);
}

.fieldset__item > input:is(:checked)::after {
  background-color: var(--clr-primary-green-600);
}

.form__container--checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.form__container--checkbox > input {
  appearance: none;
  width: 1.125rem;
  height: 1.125rem;
  border: 0.125rem solid var(--clr-neutral-500);
  flex-shrink: 0;
  border-radius: 2px;
  cursor: pointer;
}

.form__container--checkbox > label {
  cursor: pointer;
}

.form__container--checkbox > input:is(:checked) {
  background-image: url(assets/images/icon-checkbox-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.form__submit {
  border: none;
  background-color: var(--clr-primary-green-600);
  color: var(--clr-neutral-white);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.required::after {
  content: " *";
  color: var(--clr-primary-green-600);
}

.error--input {
  border-color: var(--clr-error) !important;
}

.error {
  color: var(--clr-error);
}

@media screen and (min-width: 30rem) {
  body {
    padding: 8rem 2.5rem;
  }

  main {
    padding: 2.5rem;
  }

  .form__name {
    grid-template-columns: 1fr 1fr;
  }

  .form__fieldset {
    grid-template-columns: 1fr 1fr;
  }

  .form__label--fieldset {
    grid-column: 1 / 3;
  }
}
